$first-font : 'Russo One';
$second-font : 'Cousine';
body{
	background-color: white;
	margin: 0px;
	padding: 0;
}
   a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   	color: black;
   	&:hover{
   		color:gray;
   	}
   	&:active{
   		color:black;
   	}
   } 
   .carousel{
   	a{
   		color:white;
   	}
   }

.page{
	background-color:white;
	overflow-wrap: break-word;
	margin : {
		left : 10%;
		right: 10%;
	}
}

.body {
	display: flex;
	height:80vh;
	justify-content : space-evenly;
	align-items: center;

	.body__text{
		font-family: $first-font, sans-serif;
		font-size:  1em;

	}
	.body__content{
		font-family: $second-font, monospace;
		font-size:  1em;
	}
	.body__img{
		align-self: flex-end;
	}

}


.header{
	   a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   	color: black;
   	&:hover{
   		color:gray;
   	}
   	&:active{
   		color:black;
   	}
   } 
   .carousel{
   	a{
   		color:white;
   	}
   }
	display: flex;
	justify-content : space-between;
	.header__icon{
		font-family: $first-font, sans-serif;
		font-size:  3em;
	}
	.header__menu{
		display:flex;
		flex-flow: row nowrap;
		align-items:center;
	}
	.header__menu > span{
		font-family: $second-font, monospace;
		font-size:  1em;
		margin : {
			left: 1.4em;
			right:1.4em;
		}

	}
}
.about{
	.about_wrapper{
		margin-top: 3%;
		display: flex;
		justify-content:space-around;
		flex-flow: row nowrap;
		align-items:center;
		.about_wrapper__item-1{
			width:40%;
			height:2px;
			background-color: black;
		}
		.about_wrapper__item-2{
			font-family: $first-font, sans-serif;
			font-size:  2em;
		}
	}
	.about_text{
		margin-top: 3%;
		display: flex;
		justify-content: space-evenly;
		.about_text__item{
			span{
				background-color: black;
				color:white;
			}
			width : 25%;
			font-family: $second-font, monospace;
			font-size:  1em;
		}
	}
	.about_blok{
		display: flex;
		justify-content: space-evenly;
		.about_blok__item{
			margin-top: 80px;
			padding-top: 10px;
			width:17%;
			height:auto;
			padding-bottom: 50px;
			border: 2px solid black;
			text-align: center;
		}
		.about_blok__itext{
			text-align: left;
			margin: {
				left:15px;
				right:15px;	}
			margin-top: 20px;
			font-family: $second-font, monospace;
			font-size:  1em;
		}
	}
}

.container{
	margin-top: 100px;
	left:0px;
	width: 100%;
	height:200px;
	position: absolute;
	background-color: #f1f1f1;
	display: flex;
	justify-content: space-evenly;
			flex-flow: row nowrap;
		align-items:center;
	text-align: center;
	.container_item {
		font-family: $first-font, sans-serif;
		font-size:  3em;
	}
	.container_item__text{
		margin-top: 10px;
		font-family: $second-font, monospace;
		font-size:  0.3em;
	}
}
.skils{
	margin-top: 400px;


	.skils_wrapper{
		margin-top: 3%;
		display: flex;
		justify-content:space-around;
		flex-flow: row nowrap;
		align-items:center;
		.skils_wrapper__item-1{
			width:40%;
			height:2px;
			background-color: black;
		}
		.skils_wrapper__item-2{
			font-family: $first-font, sans-serif;
			font-size:  2em;
		}
	}
	.skils_content{
		margin-top: 100px;
		display: flex;
		justify-content:space-evenly;
		align-items:center;
	}
	.skils_item{
		width: 18%;
		height:350px;
		background-color: black;
		color:white;
		font-size: 1.7em;
		padding: 20px;

	}
}
.owl-wrapper-outer {
	border: 1px solid #777;
	border-radius: 5px;
	overflow: hidden;
	background: black;
}

/* 1 квадратик карусели */
.carousel-element {
	height:350px;
	padding: 30px;
	text-align: center;
	font-size: 300%;
	border-right: 1px solid #777;
	color:white;
	font-family: $second-font, monospace;
	font-size:  3em;
	a{
		color :white;
		&:active{color:gray;}
	}
}
.inner{
	margin-top: 100px;
	width: 60%;
	height: 450px;
	margin-left: 19%;
	margin-right: 15%;
}
.carousel-element__button{
	width:20%;
	padding: 5px;
	font-size: 0.4em;
	text-align: center;
	border: 2px solid white;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 10%;

}
footer{
	background-image:url("https://openclipart.org/image/2400px/svg_to_png/289404/Guizhou-Cityscape-Silhouette.png");
	margin-top: 100px;
	width: 100%;
	height: 800px;
	display: flex;
flex-direction: column;
		color:white;
	font-family: $second-font, monospace;
	font-size:  	1.5em;
	div{
	}
	#mail{
	}
	// 	position: absolute;
	// 	z-index: 10;
	// 	bottom:-2000px;
	// // 	left:350px;
	// // 	color: white;
	// // 		font-family: $second-font, monospace;
	// // font-size:  1.5em;
	// }
	// #number{
	// 	position: absolute;
	// 	z-index: 10;
	// 	bottom:-2000px;
	// // 	left:1250px;
	// // 	color: white;
	// // 		font-family: $second-font, monospace;
	// // font-size:  1.5em;
	// }
	
}
